$primary: #d3573c;
$secondary: #901c1c;
$otherText: #525252;

$colors: (
    primary: #d3573c,
    secondary: #901c1c,
    otherText: #525252,
    white: #ffff,
    whiteO:  rgba(196, 196, 196, 0.4),
);
$rounded-sizes: (
    sm: 5px,
    md: 17px,
    xl: 67px,
    circle: 50%,
);
