.modal {
    position: fixed;
    // display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    @each $colour, $hex in $colors {
        &--bg-#{"" + $colour} {
            background-color: $hex;
        }
    }
}

#close {
    cursor: pointer;
}
