*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

#main {
  margin-top: 65px;
}

.hidden {
  display: none;
}

.display {
  display: block !important;
}

/* dm-sans-regular - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-sans-v11-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/dm-sans-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/dm-sans-v11-latin-regular.woff2") format("woff2"), url("../fonts/dm-sans-v11-latin-regular.woff") format("woff"), url("../fonts/dm-sans-v11-latin-regular.ttf") format("truetype"), url("../fonts/dm-sans-v11-latin-regular.svg#DMSans") format("svg"); /* Legacy iOS */
}
body {
  font-family: DM Sans, sans-serif;
}

.btn-m {
  padding: 22px 11px;
  border: none;
}
.btn-m--bg-primary {
  background-color: #d3573c;
}
.btn-m--bg-secondary {
  background-color: #901c1c;
}
.btn-m--bg-otherText {
  background-color: #525252;
}
.btn-m--bg-white {
  background-color: white;
}
.btn-m--bg-whiteO {
  background-color: rgba(196, 196, 196, 0.4);
}
.btn-m--rounded-sm {
  border-radius: 5px;
}
.btn-m--rounded-md {
  border-radius: 17px;
}
.btn-m--rounded-xl {
  border-radius: 67px;
}
.btn-m--rounded-circle {
  border-radius: 50%;
}
.btn-m--color-primary {
  color: #d3573c;
}
.btn-m--color-secondary {
  color: #901c1c;
}
.btn-m--color-otherText {
  color: #525252;
}
.btn-m--color-white {
  color: white;
}
.btn-m--color-whiteO {
  color: rgba(196, 196, 196, 0.4);
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.modal--bg-primary {
  background-color: #d3573c;
}
.modal--bg-secondary {
  background-color: #901c1c;
}
.modal--bg-otherText {
  background-color: #525252;
}
.modal--bg-white {
  background-color: white;
}
.modal--bg-whiteO {
  background-color: rgba(196, 196, 196, 0.4);
}

#close {
  cursor: pointer;
}

.lightbox__btnnext, .lightbox__btnprev {
  background: url("../../assets/icons/arrow.svg") center center/100% 100%;
  width: 57px;
  height: 49px;
  top: 50%;
  color: #d3573c;
  right: 14%;
}
.lightbox__btnprev {
  right: auto;
  left: 14%;
  transform: rotate(180deg);
}
.lightbox__btnclose {
  background: url("../../assets/icons/close.svg") center center/100% 100%;
  right: 14%;
  width: 57px;
  height: 42px;
}
.lightbox__img {
  height: 790px;
  width: 1050px;
  object-fit: cover;
}
.lightbox__img__title {
  display: flex;
  color: #901c1c;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 24px;
  line-height: 31.25px;
}
.lightbox__img-container {
  position: relative;
  z-index: 4;
  max-height: 47vw;
}
.lightbox__btn {
  position: fixed;
  cursor: pointer;
  text-indent: -30000px;
  border: none;
  font-size: 20px;
}

.header {
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.header__title {
  font-size: 36px;
}
.header__logo {
  height: 50px;
  margin-left: 100px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.photographer-section {
  justify-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 400;
  flex-wrap: wrap;
}
.photographer-section__card {
  text-align: center;
  width: 526px;
  height: 358px;
}
.photographer-section__img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.photographer-section__name {
  font-size: 36px;
  line-height: 46.87px;
  color: #d3573c;
}
.photographer-section__location {
  font-size: 13px;
  line-height: 16.93px;
  color: #901c1c;
  margin-bottom: 3px;
}
.photographer-section__tagline {
  font-size: 10px;
  line-height: 13.02px;
}
.photographer-section__price {
  font-size: 9px;
  line-height: 11.72px;
}

.contact__content {
  padding: 15px 35px 38px 35px;
  background: #d3573c;
  border-radius: 5px;
  width: 669px;
}
.contact__heading {
  display: flex;
  font-weight: 400;
}
.contact__heading h1 {
  font-size: 54px;
  line-height: 83.33px;
  color: black;
  margin-right: 108px;
}
.contact__label {
  font-size: 36px;
  line-height: 46.87px;
  color: #312e2e;
}
.contact__input {
  width: 100%;
  padding: 13px;
  border-radius: 5px;
  border: none;
  font-size: 36px;
}
.contact__textArea {
  height: 170px;
}
.contact__button {
  margin-top: 26px;
  width: 170px;
  font-size: 18px;
  line-height: 23.44px;
}

.profil__information {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 56px 50px;
  margin: 50.66px 100px;
  background: #fafafa;
}
.profil__name {
  color: #d3573c;
  font-size: 64px;
}
.profil__location {
  font-size: 24px;
  line-height: 31.25px;
  color: #901c1c;
  margin-top: 16px;
  margin-bottom: 19px;
}
.profil__expression {
  font-size: 18px;
  line-height: 23.44px;
  color: #525252;
}
.profil__button {
  border: none;
  font-size: 20px;
  margin-left: 5%;
}
.profil__button:hover {
  cursor: pointer;
}
.profil__img {
  margin-left: 285px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
}

.main-sort {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 97px;
  position: relative;
}
.main-sort__text {
  font-size: 18px;
}
.main-sort__select {
  position: absolute;
  top: -25px;
  left: 119px;
  margin-left: 25px;
  color: white;
  background-color: #901c1c;
  border: none;
  padding: 10px;
  font-size: 18px;
  list-style: none;
  border-radius: 5px;
  z-index: 1;
  cursor: pointer;
}
.main-sort__select__popularity {
  padding: 13px 32px 13px 10px;
}
.main-sort__select__popularity::selection {
  background: #901c1c;
}
.main-sort__select__select::selection, .main-sort__select__icon::selection, .main-sort__select__option::selection {
  background: #901c1c;
}
.main-sort__select__icon {
  display: inline-block;
  transform: rotate(-90deg);
  font-size: 31px;
  margin-left: 26px;
  padding-right: 4px;
  position: relative;
  z-index: 2;
  left: 234px;
  cursor: pointer;
  bottom: 11px;
  color: white;
}
.main-sort__select__rotate {
  transform: rotate(90deg);
}
.main-sort__select__option {
  border-top: 1px solid gray;
  background-color: #901c1c;
  border-top: 1px white solid;
  display: none;
}
.main-sort__select li:not(:first-child) {
  padding: 24px 60px 14px 20px;
}
.main-sort__select__option::selection {
  background: #901c1c;
}

.photographer-media {
  display: flex;
  flex-wrap: wrap;
  padding: 0 100px;
  margin-top: 58px;
  justify-content: space-between;
  gap: 95px;
}
.photographer-media__container {
  margin-bottom: 30px;
  border-radius: 5px;
}
.photographer-media__img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
.photographer-media__container-title {
  display: flex;
  color: #901c1c;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 24px;
  line-height: 31.25px;
}
.photographer-media__div-heart {
  display: flex;
  color: #901c1c;
}
.photographer-media__heart {
  color: #901c1c;
  margin-left: 6.37px;
}
.photographer-media__heart:hover {
  cursor: pointer;
}

.price-day {
  position: fixed;
  bottom: 0;
  width: 375px;
  display: flex;
  justify-content: space-around;
  background-color: #d3573c;
  font-size: 24px;
  line-height: 31.25px;
  padding: 21px 34px 16px 31px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  right: 36px;
}

/*# sourceMappingURL=style.css.map */
