*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

#main {
  margin-top: 65px;
}

/* dm-sans-regular - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-sans-v11-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/dm-sans-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/dm-sans-v11-latin-regular.woff2") format("woff2"), url("../fonts/dm-sans-v11-latin-regular.woff") format("woff"), url("../fonts/dm-sans-v11-latin-regular.ttf") format("truetype"), url("../fonts/dm-sans-v11-latin-regular.svg#DMSans") format("svg"); /* Legacy iOS */
}
body {
  font-family: DM Sans, sans-serif;
}

.btn-m {
  padding: 22px 11px;
}
.btn-m--bg-primary {
  background-color: #d3573c;
}
.btn-m--bg-secondary {
  background-color: #901c1c;
}
.btn-m--bg-otherText {
  background-color: #525252;
}
.btn-m--bg-white {
  background-color: white;
}
.btn-m--rounded-sm {
  border-radius: 5px;
}
.btn-m--rounded-md {
  border-radius: 17px;
}
.btn-m--rounded-xl {
  border-radius: 67px;
}
.btn-m--rounded-circle {
  border-radius: 50%;
}
.btn-m--color-primary {
  color: #d3573c;
}
.btn-m--color-secondary {
  color: #901c1c;
}
.btn-m--color-otherText {
  color: #525252;
}
.btn-m--color-white {
  color: white;
}

.modal__background {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  background-color: black;
  width: 100vw;
  height: 100vh;
}
.modal__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 80vh;
  color: white;
}

.header {
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.header__title {
  font-size: 36px;
}
.header__logo {
  height: 50px;
  margin-left: 100px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.photographer-section {
  justify-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 400;
  flex-wrap: wrap;
}
.photographer-section__card {
  text-align: center;
  width: 526px;
  height: 358px;
}
.photographer-section__img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.photographer-section__name {
  font-size: 36px;
  line-height: 46.87px;
  color: #d3573c;
}
.photographer-section__location {
  font-size: 13px;
  line-height: 16.93px;
  color: #901c1c;
  margin-bottom: 3px;
}
.photographer-section__tagline {
  font-size: 10px;
  line-height: 13.02px;
}
.photographer-section__price {
  font-size: 9px;
  line-height: 11.72px;
}

.profil__information {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50.66px 100px;
}
.profil__name {
  color: #d3573c;
  font-size: 64px;
}
.profil__location {
  font-size: 24px;
  line-height: 31.25px;
  color: #901c1c;
  margin-top: 16px;
  margin-bottom: 19px;
}
.profil__expression {
  font-size: 18px;
  line-height: 23.44px;
  color: #525252;
}
.profil__button {
  border: none;
  font-size: 20px;
  margin-left: 127px;
}
.profil__button:hover {
  cursor: pointer;
}
.profil__img {
  margin-left: 285px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
}

.main-sort {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 97px;
}
.main-sort__text {
  font-size: 18px;
}
.main-sort__popularity {
  margin-left: 25px;
  color: white;
  background-color: #901c1c;
  border: none;
  padding: 10px;
  font-size: 18px;
}
.main-sort__popularity__option {
  border-top: 1px solid gray;
  background-color: #901c1c;
}
.main-sort__popularity__option::after {
  content: "--";
  display: block;
  width: 40px;
  height: 40px;
  border-top: 1px solid gray;
  color: green;
}

option:hover {
  background-color: #901c1c;
}

/*# sourceMappingURL=style.css.map */
