.header {
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  &__title {
    font-size: 36px;
  }
  &__logo {
    height: 50px;
    margin-left: 100px;
  }
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}
