.profil {
    &__information {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 50.66px 100px;
    }
    &__name {
        color: $primary;
        font-size: 64px;
    }
    &__location {
        font-size: 24px;
        line-height: 31.25px;
        color: $secondary;
        margin-top: 16px;
        margin-bottom: 19px;
    }

    &__expression {
        font-size: 18px;
        line-height: 23.44px;
        color: $otherText;
    }
    &__button {
        border: none;
        font-size: 20px;
        margin-left: 127px;

        &:hover {
            cursor: pointer;
        }
    }

    &__img {
        margin-left: 285px;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover;
        display: block;
    }
}

.main-sort {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 97px;
    &__text {
        font-size: 18px;
    }
    &__popularity {
        margin-left: 25px;
        color: white;
        background-color: $secondary;
        border: none;
        padding: 10px;
        font-size: 18px;
        &__option {
            border-top: 1px solid gray;
            background-color: $secondary;
            &::after {
                content: "--";
                display: block;
                width: 40px;
                height: 40px;
                border-top: 1px solid gray;
                color: green;
            }
        }
    }
}

.photographer-media {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 100px;
    margin-top: 58px;
    &__container {
        margin-left: 95px;
        margin-bottom: 30px;
        border-radius: 5px;
    }
    &__img {
        width: 350px;
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
    }
    &__container-tagline {
        display: flex;
        color: $secondary;
    }

    &__tagline {
    }
}
