.profil {
    &__information {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 56px 50px;
        margin: 50.66px 100px;
        background: #fafafa;
    }
    &__name {
        color: $primary;
        font-size: 64px;
    }
    &__location {
        font-size: 24px;
        line-height: 31.25px;
        color: $secondary;
        margin-top: 16px;
        margin-bottom: 19px;
    }

    &__expression {
        font-size: 18px;
        line-height: 23.44px;
        color: $otherText;
    }
    &__button {
        border: none;
        font-size: 20px;
        margin-left: 5%;

        &:hover {
            cursor: pointer;
        }
    }

    &__img {
        margin-left: 285px;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover;
        display: block;
    }
}

.main-sort {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 97px;
    position: relative;
    &__text {
        font-size: 18px;
    }
    &__select {
        position: absolute;
        top: -25px;
        left: 119px;
        margin-left: 25px;
        color: white;
        background-color: $secondary;
        border: none;
        padding: 10px;
        font-size: 18px;
        list-style: none;
        border-radius: 5px;
        cursor: pointer;
        &__popularity {
            padding: 13px 32px 13px 10px;
        }
        &__popularity::selection {
            background: $secondary;
        }
        &__select::selection,
        &__icon::selection,
        &__option::selection {
            background: $secondary;
        }

        &__icon {
            display: inline-block;
            transform: rotate(-90deg);
            font-size: 31px;
            margin-left: 26px;
            padding-right: 4px;
            position: relative;
            z-index: 1;
            left: 234px;
            cursor: pointer;
            bottom: 11px;
            color: white;
        }

        &__rotate {
            transform: rotate(90deg);
        }
        &__option {
            border-top: 1px solid gray;
            background-color: $secondary;
            border-top: 1px white solid;
            display: none;
        }
        li:not(:first-child) {
            padding: 24px 60px 14px 20px;
        }
        &__option::selection {
            background: $secondary;
        }
    }
}

.photographer-media {
    display: flex;
    flex-wrap: wrap;
    padding: 0 100px;
    margin-top: 58px;
    justify-content: space-between;
    gap: 95px;
    &__container {
        margin-bottom: 30px;
        border-radius: 5px;
    }
    &__img {
        width: 350px;
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
    }
    &__container-title {
        display: flex;
        color: $secondary;
        justify-content: space-between;
        margin-top: 10px;
        font-size: 24px;
        line-height: 31.25px;
    }
    &__div-heart {
        display: flex;
        color: $secondary;
    }
    &__heart {
        color: $secondary;
        margin-left: 6.37px;
        &:hover {
            cursor: pointer;
        }
    }
}

.price-day {
    position: fixed;
    bottom: 0;
    width: 375px;
    display: flex;
    justify-content: space-around;
    background-color: $primary;
    font-size: 24px;
    line-height: 31.25px;
    padding: 21px 34px 16px 31px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    right: 36px;
}
